---
import { getCollection } from 'astro:content';
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from '../../../utils/helpers';
import type { GetStaticPathsOptions, Page } from 'astro';
import siteConfig from '../../../site.config';
import type { CollectionEntry } from 'astro:content';
import MainLayout from '../../../layouts/MainLayout.astro';
import Pagination from '../../../components/Pagination.astro';
import Subscribe from '../../../components/Subscribe.astro';
import PostCardPreview from '../../../components/PostCardPreview.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = (await getCollection('blogs')).sort(sortItemsByDateDesc);
    const tags = getAllTags(posts);

    return tags.flatMap((tag) => {
        const filteredPosts = getPostsByTag(posts, tag.id);
        return paginate(filteredPosts, {
            params: { id: tag.id },
            pageSize: siteConfig.postsPerPage || 2
        });
    });
}

type Props = { page: Page<CollectionEntry<'blogs'>> };

const { page } = Astro.props;
const blog = page.data;
const params = Astro.params;
const allPosts = await getCollection('blogs');
const allTags = getAllTags(allPosts);
const currentTag = allTags.find((tag) => {
    return tag.id === params.id;
});
---

<MainLayout pageTitle={"Space Ahead - "+ currentTag?.name +" posts"}>
  <div class="page-content">
    <h1 class="kanit-regular">
      Posts tagged with <span class="sigmar-ff">{currentTag?.name}</span>
    </h1>
    <div class="posts-list">
      {allPosts.map((post) => (
        <PostCardPreview post={post} />
      ))}
    </div>
    <Pagination page={page} class="my-16 sm:my-24" />
    <Subscribe class="my-16 sm:my-24" />
  </div>
</MainLayout>
<style>
  .posts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  @media (orientation: portrait) {
    .posts-list {
      font-size: 0.75rem;
    }
    h1 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
</style>
