---
import MainLayout from "../../layouts/MainLayout.astro";

import PostsList from "../../components/PostsList.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");
  const uniqueTags = [... new Set(allPosts.map(post => post.frontmatter.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags?.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts }
    }
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout pageTitle={"Space Ahead - "+tag+" posts"}>
  <div class="page-content">
    <h1 class="kanit-regular">
      Posts tagged with <span class="sigmar-ff">{tag}</span>
    </h1>
    <PostsList posts={posts} />
  </div>
</MainLayout>
<style>
  @media (orientation: portrait) {
    h1 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
</style>
