---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from "../../utils/helpers";

const posts = (await getCollection('blogs')).sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
    const postCountTagA = getPostsByTag(posts, tagA.id).length;
    const postCountTagB = getPostsByTag(posts, tagB.id).length;
    return postCountTagB - postCountTagA;
});
---

<MainLayout activePage="tags" pageTitle="Space Ahead - Tags Index">
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">Tags</h1>
    <p class="kanit-regular">Select a tag to view posts related to the tag.</p>
    <div class="tags-container">
      {
        tags.map((tag) => {
          const postCount = getPostsByTag(posts, tag.id).length;
          return (
          <p class="tag-card kanit-regular">
            <a href={"/space-ahead/tags/" + tag.id}>{tag.name} ({postCount} {postCount > 1 ? " posts" : " post"})</a>
          </p>
        )})
      }
    </div>
  </div>
</MainLayout>
<style>
  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
  .tag-card {
    display: flex;
    width: max-content;
    padding: 0.25rem 1rem;
    margin: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
</style>
