---
import MainLayout from "../../layouts/MainLayout.astro";

const allPosts = await Astro.glob("../posts/*.md");
const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];
---

<MainLayout activePage="tags" pageTitle="Space Ahead - Tag Index">
  <div class="page-content">
    <h1 class="sigmar-ff balance-text">All Tags 🏷️</h1>
    <p class="kanit-regular">Select a tag to view posts related to the tag.</p>
    <div class="tags-container">
      {
        uniqueTags.map((tag) => (
          <p class="tag-card kanit-regular">
            <a href={"/space-ahead/tags/" + tag}>{tag}</a>
          </p>
        ))
      }
    </div>
  </div>
</MainLayout>
<style>
  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
  .tag-card {
    display: flex;
    width: max-content;
    padding: 0.25rem 1rem;
    margin: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
</style>
