---
import {
  getAllTags,
  getPostsByTag,
  sortItemsByDateDesc,
} from "../../utils/helpers";
import { getCollection } from "astro:content";
import Button from "../../components/Button.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = (await getCollection("blogs")).sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
  const postCountTagA = getPostsByTag(posts, tagA.id).length;
  const postCountTagB = getPostsByTag(posts, tagB.id).length;
  return postCountTagB - postCountTagA;
});
---

<MainLayout activePage="tags" pageTitle="Space Ahead - Tags Index">
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">Tags</h1>
    <p class="kanit-regular">Select a tag to view posts related to the tag.</p>
    <div class="flex flex-wrap items-center justify-center gap-4">
      {
        tags.map((tag) => {
          const postCount = getPostsByTag(posts, tag.id).length;
          return (
            <Button
              href={`${import.meta.env.BASE_URL}/tags/${tag.id}`}
              class="px-4! m-2"
            >
              {tag.name} ({postCount})
            </Button>
          );
        })
      }
    </div>
  </div>
</MainLayout>
