---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
import coverImage from "../assets/images/1.png";
import Subscribe from "../components/Subscribe.astro";
---

<MainLayout activePage="about" pageTitle="Space Ahead | About">
  <div class="flex flex-col items-center page-content">
    <h1 class="sigmar-ff">{siteConfig.about?.title}</h1>
    <Image
      width={1024}
      height={600}
      loading="eager"
      layout="constrained"
      class="rounded-4xl mb-8 mx-auto"
      src={coverImage}
      alt="An Astronaut walking on a terrain"
    />
    <p class="kanit-light text-left">
      {siteConfig.about?.text}
    </p>
    <Subscribe class="my-16" />
  </div>
</MainLayout>
