---
import PostsList from "../components/PostsList.astro";
import MainLayout from "../layouts/MainLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md")
---

<MainLayout pageTitle="Space Ahead | Stories">
  <h1 class="honk-ff balance-text">
    The <span class="blinking">Stories</span>
  </h1>
  <p class="kanit-regular balance text">
    This is where I post about my space exploration journeys.
  </p>
  <PostsList posts={allPosts} />
</MainLayout>
<style>
  h1 {
    padding-top: 2rem;
  }
</style>
