---
import PostsList from "../components/PostsList.astro";
import MainLayout from "../layouts/MainLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md")
---

<MainLayout activePage="blog" pageTitle="Space Ahead | Stories">
  <div class="page-content">
    <h1 class="sigmar-ff balance-text">
      All Travel Stories ✨</span>
    </h1>
    <p class="kanit-regular balance text">
      Read about my space adventures, explorations and the aliens I've met on my journeys.
    </p>
    <PostsList posts={allPosts} />
  </div>
</MainLayout>
