---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout pageTitle="Space Ahead - An Astro Blog">
	<section>
		<h1 class="honk-ff">Space Ahead <span class="blinking">!</span></h1>
		<Nav/>
		<Footer/>
	</section>
</MainLayout>
