---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout pageTitle="Space Ahead - An Astro Blog">
	<h1 class="honk-ff balance-text">Space Ahead <span class="blinking">!</span></h1>
</MainLayout>
