---
import '../styles/global.css';

const currentYear = (new Date()).getFullYear();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/space-ahead/space-ahead-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Honk&family=Kanit:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
		<title>Space Ahead - An Astro Blog</title>
		<style>
			section {
				background: rgb(22,1,59);
				background: radial-gradient(at bottom, rgba(22,1,59,1) 55%, rgba(251,99,131,1) 72%, rgba(229,210,90,1) 80%, rgba(0,0,0,1) 90%);
				background-size: 100%;
				background-position: 0 100%;
				display: flex;
				flex-direction: column;
				padding: 1rem;
				align-items: center;
				justify-content: center;
				height: 100dvh;
			}
			h1 {
				font-size: 4rem;
				margin: 0;
			}
			nav {
				font-size: 1.5rem;
				padding: 0.75rem 1rem;
				display: flex;
				gap: 1rem;
			}
			footer {
				display: flex;
				align-items: flex-end;
				padding: 1rem 0;
				/* background-color: rgb(22,1,59); */
				color: whitesmoke;
				font-size: 0.75rem;
				gap: 1.5rem;
			}
			@media (orientation: portrait) {
				section {
					background: radial-gradient(at left, rgba(22,1,59,1) 60%, rgba(251,99,131,1) 70%, rgba(229,210,90,1) 77%, rgba(0,0,0,1) 87%);
					display: flex;
					justify-content: center;
					align-items: start;
				}
				nav {
					display: flex;
					flex-direction: column;
				}
			}
		</style>
	</head>
	<body>
		<section>
			<h1 class="honk-ff">Space Ahead <span class="blinkingCursor">!</span></h1>
			<nav class="kanit-regular">
				<a href="/space-ahead/">Home</a>
				<a href="/space-ahead/blog">Stories</a>
				<a href="/space-ahead/about/">About</a>
			</nav>
			<footer class="kanit-light">
				<span>©️ {currentYear}</span>
				<a href="https://github.com/djsiddz" title="Astro-naut Siddhesh Thadeshwar">👨‍🚀 Siddhesh Thadeshwar</a>
				<a href="https://github.com/djsiddz/space-ahead" title="Star this on GitHub">⭐ this on GitHub</a>
			</footer>
		</section>
	</body>
</html>
