---
---
<span id="hamburger-menu" title="Menu">🍔</span>
<style>
  #hamburger-menu {
    display: none;
  }
  @media (orientation: portrait) {
    #hamburger-menu {
      cursor: pointer;
      display: block;
      font-size: 1.25rem;
      line-height: 1;
      position: relative;
      top: -2px;
    }
  }
</style>
