---
import siteConfig from "../site.config";
import Hamburger from "./Hamburger.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import SiteIdentity from "./SiteIdentity.astro";
const { activePage } = Astro.props;
---
<header>
  <nav class="kanit-light">
    <SiteIdentity />
    <div class="desktop-links">
      {siteConfig.headerNavLinks?.map((link) => (
        <a class={activePage === link.href ? "active" : ""} href={import.meta.env.BASE_URL + link.href}>{link.text}</a>
      ))}
    </div>
    <ThemeSwitcher />
    <Hamburger />
  </nav>
  <div id="mobile-links" class="kanit-regular animated slideOutUp">
    {siteConfig.headerNavLinks?.map((link) => (
      <a class={activePage === link.href ? "active" : ""} href={import.meta.env.BASE_URL + link.href}>{link.text}</a>
    ))}
    <span id="close-menu">❌</span>
  </div>
</header>
<script is:inline>
  document.querySelector("#hamburger-menu").addEventListener("click", () => {
    console.log("clicked...");
    document.querySelector("#mobile-links").classList.toggle("slideOutUp");
    document.querySelector("#mobile-links").classList.toggle("expanded");
    document.querySelector("#mobile-links").classList.toggle("slideInDown");
    document.querySelector("body").classList.toggle("no-scroll");
  });
  document.querySelector("#close-menu").addEventListener("click", () => {
    console.log("clicked...");
    document.querySelector("#mobile-links").classList.replace("slideInDown","slideOutUp");
    setTimeout(() => {
      document.querySelector("body").classList.toggle("no-scroll");
      document.querySelector("#mobile-links").classList.toggle("expanded");
    }, 1050);
  });
</script>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    column-gap: 0.5rem;
    position: fixed;
    z-index: 20;
    width: calc(100% - 3rem);
  }
  nav {
    border-radius: 2rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1.25rem;
    gap: 4rem;
    backdrop-filter: blur(72px);
  }
  .desktop-links {
    display: flex;
    align-items: center;
    gap: 2rem
  }
  .active {
    border-radius: 1rem;
    padding: 0.125rem 0.75rem;
  }
  html.dark .active {
    color: #ffff85;
  }
  html.light .active {
    color: #ff6b6d;
  }
  #mobile-links {
    display: none;
    height: 0;
    margin: 0;
    opacity: 0;
    top: 0;
    width: 100%;
  }
  .#mobile-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  #close-menu {
    cursor: pointer;
    padding-top: 2rem;
    text-align: right;
  }
  .expanded {
    display: unset;
    top: -100vh;
  }

  html.dark nav {
    box-shadow: 0px 2px 4px #0000000a;
  }
  html.light nav {
    box-shadow: 0px 2px 4px #0000007a;
  }

  @media (orientation: portrait) {
    header {
      flex-direction: column;
      row-gap: 0.5rem;
    }
    nav {
      border-radius: 1rem;
      font-size: 0.75rem;
      gap: 1rem;
      padding: 0.25rem 0.75rem;
      width: 100%;
    }
    .desktop-links {
      display: none;
    }
    #mobile-links.expanded {
      align-items: center;
      background-color: #0000007a;
      backdrop-filter: blur(72px);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      left: unset;
      position: absolute;
      z-index: 10;
      top: -2rem;
      opacity: 1;
      padding: 1rem 0;
      min-height: 95svh;
      width: 100vw;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    html.light #mobile-links.expanded {
        background-color: #ffffff6a;
    }
  }
  @media (max-width: 315px) {
    nav {
      border: none;
      flex-direction: column;
      padding: 0.25rem;
    }
  }
</style>
