---

---

<nav class="kanit-regular">
  <a href="/space-ahead/">Home</a>
  <a href="/space-ahead/blog">Stories</a>
  <a href="/space-ahead/about/">About</a>
</nav>
<style>
  nav {
    border: 2px solid whitesmoke;
    border-radius: 2rem;
    font-size: 1rem;
    display: flex;
    gap: 4rem;
    padding: 0.25rem 3rem;
    margin-top: 1rem;
  }
  nav > a {
  color: whitesmoke;
}
nav > a:hover {
  color: #ffff85;
}

  @media (orientation: portrait) {
    nav {
      font-size: 0.75rem;
      gap: 1rem;
      padding: 0.25rem 1.25rem;
    }
  }
  @media (max-width: 315px) {
    nav {
      border: none;
      flex-direction: column;
      padding: 0.25rem;
    }
  }
</style>
