---
const { posts } = Astro.props;
---

<div class="posts-list">
  {
    posts.reverse().map((post) => (
      <div class="card">
        <a class="kanit-bold balance-text" href={post.url}>
          <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} /><br/>
          {post.frontmatter.title}<br/>
          <span class="kanit-light pub-date">{new Date(post.frontmatter.pubDate).toDateString()}</span>
          </a>
      </div>
    ))
  }
</div>
<style>
  .posts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .posts-list .card img {
    max-width: 360px;
    max-height: 202px;
    border-radius: 1rem;
    margin-bottom: 0;
  }
  @media (orientation: portrait) {
    .posts-list {
      font-size: 0.75rem;
    }
    .posts-list .card img {
      max-width: 240px;
      max-height: 135px;
    }
    .pub-date {
      font-size: 0.5rem;
    }
  }
</style>
