---
import { Image } from "astro:assets";
import siteConfig from "../site.config";

type SiteIdentityProps = {
  logoWidth?: number;
  logoHeight?: number;
  loading?: "eager" | "lazy";
  textSize?: "text-base" | "text-xl";
};

const {
  logoWidth = 32,
  logoHeight = 32,
  loading = "eager",
  textSize = "text-base",
}: SiteIdentityProps = Astro.props;
---

<div class="flex items-center gap-2">
  <Image
    src="/space-ahead/space-ahead-logo.png"
    alt="Logo"
    width={logoWidth}
    height={logoHeight}
    loading={loading}
  />
  <span class:list={["sigmar-ff", textSize]}>{siteConfig.title}</span>
</div>
